@model TMDB.net.Models.TheMovieDb
@using TMDB.net.Class;
<style>
    body {
        background-color: #000;
    }
 
    #apiDiv {
        padding-left: 20px;
    }
 
        #apiDiv input, #apiDiv button {
            font-size: 25px;
            color: #000;
        }
 
        #apiDiv h4 {
            margin: 10px 0;
            color: #00e8ff;
            font-size: 20px;
        }
 
        #apiDiv .textAlignCenter {
            text-align: center;
        }
 
            #apiDiv .textAlignCenter img {
                display: none;
                width: 100px;
            }
 
        #apiDiv #message {
            padding-top: 10px;
        }
 
            #apiDiv #message .resultDiv {
                background: #FFF;
                display: inline-block;
            }
 
                #apiDiv #message .resultDiv > p {
                    color: #000;
                    display: inline-block;
                    width: 95%;
                    padding: 10px;
                    border-bottom: double 2px #CCC;
                }
 
                #apiDiv #message .resultDiv .result {
                    width: 23%;
                    height: 240px;
                    padding: 6px;
                    float: left;
                    text-align: center;
                    cursor: pointer;
                }
 
                    #apiDiv #message .resultDiv .result img {
                        width: 75%;
                    }
 
                    #apiDiv #message .resultDiv .result p {
                        margin: 0;
                    }
 
                        #apiDiv #message .resultDiv .result p a {
                            color: #808080;
                            text-decoration: none;
                            font-size: 20px;
                            height: 100px;
                        }
 
                            #apiDiv #message .resultDiv .result p a:hover {
                                text-decoration: underline;
                            }
 
        #apiDiv form span {
            color: red;
            font-size: 20px;
        }
 
    .pagingDiv {
        background: #f2f2f2;
    }
 
        .pagingDiv > a {
            display: inline-block;
            padding: 0px 9px;
            margin-right: 4px;
            border-radius: 3px;
            border: solid 1px #c0c0c0;
            background: #e9e9e9;
            box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
            font-size: .875em;
            font-weight: bold;
            text-decoration: none;
            color: #717171;
            text-shadow: 0px 1px 0px rgba(255,255,255, 1);
        }
 
            .pagingDiv > a:hover {
                background: #fefefe;
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
                background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
            }
 
            .pagingDiv > a.active {
                border: none;
                background: #616161;
                box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
                color: #f0f0f0;
                text-shadow: 0px 0px 3px rgba(0,0,0, .5);
            }
</style>
 
<div id="apiDiv">
    <h4>Enter the Search Text and Press Submit Button</h4>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.searchText)
        <button id="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.searchText)
    }
    <div id="message">
        @(new HtmlString(ViewBag.Result))
    </div>
    <div class="pagingDiv">
        @{
            PagingInfo pagingInfo = (PagingInfo)ViewBag.Paging;
            if (pagingInfo != null)
            {
                @Html.PageLinks((PagingInfo)ViewBag.Paging, x => Url.Action("Index", "TmdbApi", new { peopleName = Model.searchText, page = x }))
            }
        }
    </div>
</div>