@model TMDB.net.Models.TheMovieDb
@using TMDB.net.Class;

@{ ViewBag.Title = "Implementing TheMovieDB (TMDB) API";}
<h1>Implementing The Movie Database API</h1>
<div id="apiDiv">
    <h4>Enter the Search Text and Press Submit Button</h4>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.searchText)
        <button id="submit">Submit</button>
        @Html.ValidationMessageFor(model => model.searchText)
    }
    <div id="message">
        @(new HtmlString(ViewBag.Result))
    </div>
    <div class="pagingDiv">
        @{
            PagingInfo pagingInfo = (PagingInfo)ViewBag.Paging;
            if (pagingInfo != null)
            {
                @Html.PageLinks((PagingInfo)ViewBag.Paging, x => Url.Action("Index", "TmdbApi", new { peopleName = Model.searchText, page = x }))
            }
        }
    </div>
</div>